{%include 'base.html'%}
{% load static %}
{% load cloudinary %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/awards.css' %}">  
<link rel="stylesheet" href="{% static 'js/jquery.easypiechart.js' %}">  
{% endblock  %}
  

{% block content %} 

<div class="container-fluid">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3">
      
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).jpg" class="img-fluid z-depth-1" alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
      </div>
      <!-- Grid row -->
      
      <!-- Grid row -->
      <div class="row">
      
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3">
      
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(115).jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">
      
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(116).jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">
      
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(117).jpg" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
      </div>
      <!-- Grid row -->

      <div class="description text-center">
        <p class="lead font-weight-bold">Description of the project and what it does.. we dont want to know about it but nyeeeh....!!!</p>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-default btn-sm">Aqua</button>
        <button type="button" class="btn btn-sm btn-outline-default btn-rounded waves-effect">Default</button>
        <button type="button" class="btn btn-sm btn-outline-default btn-rounded waves-effect">Default</button>
        <button type="button" class="btn btn-sm btn-outline-default btn-rounded waves-effect">Default</button>
        <button type="button" class="btn btn-sm btn-outline-default btn-rounded waves-effect">Default</button>
      </div>
      

      <hr style="color: #111;font-weight:bold;">

<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <div class="skill-box">
        <div class="header fg-black">
            <img src="/static/img/ichi.jpg" class="avatar img-fluid">
            <div class="title">Abzed Tet</div>
            <div class="subtitle">Jr. Full Stack Developer <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Kenya</strong></span></div>
     </div>
     <hr>
    <div class="skill-box">
        <div class="header fg-black">
            <img src="/static/img/stoned.jpg" class="avatar img-fluid">
            <div class="title">Gakuo Wadau</div>
            <div class="subtitle">Guiterist <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Uganda</strong></span>
                <div class="circle mt-5">
                    <div class="box">
                        <div class="chart" data-percent="73" data-scale-color="#ffb400">8.5</div>
                        Design
                    </div>
                    <div class="box">
                        <div class="chart" data-percent="40" data-scale-color="#ffb400">4.3</div>
                        <h3>Usability</h3>
                    </div>
                    <div class="box">
                        <div class="chart" data-percent="90" data-scale-color="#ffb400">9.0</div>
                        <h3>Content</h3>
                    </div>
                </div> </div>
        </div>
        <hr>
        <div class="skill-box">
        <div class="header fg-black">
            <img src="/static/img/nar.jpg" class="avatar img-fluid">
            <div class="title">Rob Stark</div>
            <div class="subtitle">Business Man <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Somalia</strong></span></div>
        </div>
        <div class="card">
            <div class="card-body">
              <img src="/static/img/ichi.jpg" class="float-left rounded-circle img-fluid">
              <div class="message">
                <h5 class="card-title">Abzed Tetz</h5>
                <h6 class="card-subtitle mb-2 text-muted">Jr. Full Stack Developer <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Kenya</strong></span></h6>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <img src="/static/img/stoned.jpg" class="float-left rounded-circle img-fluid">
              <div class="message">
                <h5 class="card-title">Gakuo Wadau</h5>
                <h6 class="card-subtitle mb-2 text-muted">Guitre Artist <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Uganda</strong></span></h6>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <img src="/static/img/nar.jpg" class="float-left rounded-circle img-fluid">
              <div class="message">
                <h5 class="card-title">Rob Stark</h5>
                <h6 class="card-subtitle mb-2 text-muted">Business Man <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Somalia</strong></span></h6>
              </div>
            </div>
          </div>
</div>
</div>
<br>
<!-- Footer -->
<footer class="page-footer font-small aqua-gradient pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <!-- Form -->
          <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
          <!-- Form -->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-dark my-0" type="button">Subscribe</button>
            </div>
          </form>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-dark py-3">© 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <!-- Jumbotron -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/jquery.easypiechart.js"></script>
  <script>
    $(function() {
        $('.chart').easyPieChart({
            //your options goes here
        });
    });
</script>
    
{% endblock %}