{%include 'base.html'%}
{% load static %}
{% load cloudinary %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/awards.css' %}">  
<link rel="stylesheet" href="{% static 'js/jquery.easypiechart.js' %}">  
{% endblock  %}
  

{% block content %} 

<div class="container-fluid">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3 main_pic">
      
          <img src="{{ post.image.url }}" class="img-fluid z-depth-1" alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
      </div>
      <!-- Grid row -->
      
      <!-- Grid row -->
      <div class="row">
      
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3 first">
      
          <img src="{{ pics.image_1.url }}" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3 second">
      
          <img src="{{ pics.image_2.url }}" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3 third">
      
          <img src="{{ pics.image_3.url }}" class="img-fluid z-depth-1"
            alt="Responsive image">
      
        </div>
        <!-- Grid column -->
      
      </div>
      <!-- Grid row -->
      <div class="circle mt-5">
        <div class="box">
            <div class="chart" data-percent="73" data-scale-color="#00000000">8.5</div>
            <h3>Design</h3>
        </div>
        <div class="box">
            <div class="chart" data-percent="40" data-scale-color="#00000000">4.3</div>
            <h3>Usability</h3>
        </div>
        <div class="box">
            <div class="chart" data-percent="90" data-scale-color="#00000000">9.0</div>
            <h3>Content</h3>
        </div>
    </div> 
    <div class="overal">
      <div class="circle mt-5">
        <div class="box">
            <div class="chart" data-percent="73" data-scale-color="#00000000">8.5</div>
            <h2>Overal Score</h2>
        </div>
      </div>
    </div>

    <hr>

      <div class="description text-center">
        <h2><strong>{{ post.project_name }}</strong></h2>
        <h6 class="lead">Posted On <strong>{{ post.date| date }}</strong></h6>


        <div style="width: 420px;text-align:left;" class="container">
          <div class="card">
            <div class="card-body">
              
              {% if post.profile.avatar.url %}
              <img src="{{ post.profile.avatar.url }}" class="float-left rounded-circle img-fluid">
              {% else %}
              <img src="/static/img/code.jpg" class="float-left rounded-circle img-fluid">
              {% endif %}
                
              <div class="message">
                <h5 style="text-decoration: underline;">{{ post.profile.user.first_name }} {{ post.profile.user.last_name }}</h5>
                <h6 class="text-muted">@{{ post.profile.user.username }}</h6>
                <h6 class="card-subtitle text-muted">{{ post.profile.job_title }} <span style="font-weight: normal;" class="text-muted"><i> <br> from</i> <strong>{{ post.profile.location }}...</strong></span></h6>
              </div>
            </div>
          </div>
        </div>


        <h3 style="text-decoration: underline;">Project Description</h3>
        <p class="lead font-weight-bold">{{ post.description }}</p>
      </div>     

      <hr style="color: #111;font-weight:bold;">
    </div>

<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item text-white font-weight-bold">
          <h4><a class="nav-link active" href="#"><i class="fas fa-poll-h">  Ratings</i></a></h4>
        </li>
        <li class="nav-item text-black hoverable font-weight-bold">
            <h4 id="reviews" style="text-decoration: underline;"><a class="nav-link"><i class="fas fa-comment-alt">  Reviews</i></a></h4>
        </li>
        <li class="nav-item text-black hoverable font-weight-bold">
            <h4><a class="nav-link"><i class="fas fa-users">  Users</i></a></h4>
        </li>
      </ul>
 
        <div class="card">
            <div class="card-body">
              <img src="/static/img/ichi.jpg" class="float-left rounded-circle img-fluid">
              <div class="message">
                <h5 class="">Abzed Tetz</h5>
                <h6 class="text-muted">@Abzed</h6>
                <h6 class="card-subtitle mb-2 text-muted">Jr. Full Stack Developer <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Kenya</strong></span></h6>
                <ul id="skills" class="skills">
                    <li>
                        <span>Design</span>
                        <span class="float-right">90%</span>
                        <div data-role="progress" data-value="90" data-small="true"></div>
                    </li>
                    <li>
                        <span>Usability</span>
                        <div data-role="progress" data-value="75" data-small="true" data-cls-bar="bg-cyan"></div>
                    </li>
                    <li>
                        <span>Content</span>
                        <div data-role="progress" data-value="35" data-small="true" data-cls-bar="bg-red"></div>
                    </li>
                    
                </ul>
                <button class="btn btn-outline-default btn-sm" id="hide">View User Ratings</button>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <img src="/static/img/stoned.jpg" class="float-left rounded-circle img-fluid">
              <div class="message">
                <h5 class="card-title">Gakuo Wadau</h5>
                <h6 class="card-subtitle mb-2 text-muted">Guitre Artist <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Uganda</strong></span></h6>
                <ul class="skills">
                    <li>
                        <span>Design</span>
                        <span class="float-right">90%</span>
                        <div data-role="progress" data-value="90" data-small="true"></div>
                    </li>
                    <li>
                        <span>Usability</span>
                        <div data-role="progress" data-value="75" data-small="true" data-cls-bar="bg-cyan"></div>
                    </li>
                    <li>
                        <span>Content</span>
                        <div data-role="progress" data-value="35" data-small="true" data-cls-bar="bg-red"></div>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <img src="/static/img/nar.jpg" class="float-left rounded-circle img-fluid">
              <div class="message">
                <h5 class="card-title">Rob Stark</h5>
                <h6 class="card-subtitle mb-2 text-muted">Business Man <span style="font-weight: normal;" class="text-muted"><i>from</i> <strong>Somalia</strong></span></h6>
                <ul class="skills">
                    <li>
                        <span>Design</span>
                        <span class="float-right">90%</span>
                        <div data-role="progress" data-value="90" data-small="true"></div>
                    </li>
                    <li>
                        <span>Usability</span>
                        <div data-role="progress" data-value="75" data-small="true" data-cls-bar="bg-cyan"></div>
                    </li>
                    <li>
                        <span>Content</span>
                        <div data-role="progress" data-value="35" data-small="true" data-cls-bar="bg-red"></div>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>

<h3 id="user_reviews" class="mt-5 mb-3" style="text-decoration: underline;">User Reviews</h3>
<div class="media">
  
  {% if post.profile.avatar.url %}
  <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="{{ post.profile.avatar.url }}"
  alt="Avatar">
  {% else %}
  <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="/static/img/code.jpg"
      alt="Avatar">
  {% endif %}
    
    <div class="media-body">
      <div class="media mt-3 shadow-textarea">
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold blue-text">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          <h6 class="mt-0 font-weight-bold blue-text text-muted">@{{ request.user.username }}</h6>
          <div class="form-group basic-textarea rounded-corners">
            <form class="form-group" method="POST"> 
              {% csrf_token %} 
              {{ backend_form }}
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" name="comment" rows="3" placeholder="Write your comment..."></textarea>
            <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
          </form> 
          </div>
        </div>
      </div>
    </div>
  </div>

  {% for items in comments %}

  <div class="media">

    {% if items.profile.avatar.url %}
    <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="{{ items.user."
      alt="Avatar">
      {% else %}
      <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="/static/img/code.jpg"
          alt="Avatar">
      {% endif %}

    <div class="media-body">
      <h5 class="mt-0 font-weight-bold blue-text">{{ items.user.first_name }} {{ items.user.last_name }}</h5>
     <span style="color: #111;"> {{ items.comment }}</span>
      <p class="text-muted">{{ items.date| timesince }} ago...</p>
    </div>
  </div>
<hr>
  {% endfor %}
</div>
<br>
<!-- Footer -->
<footer class="page-footer font-small aqua-gradient pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <!-- Form -->
          <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
          <!-- Form -->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-dark my-0" type="button">Subscribe</button>
            </div>
          </form>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-dark py-3">© 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <!-- Jumbotron -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/jquery.easypiechart.js"></script>
  <script>
    $(function() {
        $('.chart').easyPieChart({
          barColor:'#00b300'
        });
    });

    $(document).ready(function(){
        $('#hide').click(function(){
            $('#skills').toggle();
        });

        $("#reviews").click(function(){
          var elmnt = document.getElementById("user_reviews");
          elmnt.scrollIntoView();
        });
    });
</script>
    
{% endblock %}