{%include 'base.html'%}
{% load static %}
{% load cloudinary %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">  
<link rel="stylesheet" href="{% static 'js/jquery.easypiechart.js' %}">  
{% endblock  %}
  

{% block content %} 

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url('/static/img/code.jpg');">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <!-- Content -->
        <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
        <h5>Posted By, <span class="h5 orange-text lead"> Abzed</span> </h5>

        <p class="mb-4 pb-2 px-md-5 mx-md-5 lead">This is a project that highlight reviews and likes nad ratings of projects submotted by users to make them feel good or miserable...</p>
            
        <div class="circle mt-5">
            <div class="box">
                <div class="chart" data-percent="73" data-scale-color="#ffb400">8.5</div>
                <h3>Design</h3>
            </div>
            <div class="box">
                <div class="chart" data-percent="40" data-scale-color="#ffb400">4.3</div>
                <h3>Usability</h3>
            </div>
            <div class="box">
                <div class="chart" data-percent="90" data-scale-color="#ffb400">9.0</div>
                <h3>Content</h3>
            </div>
        </div> 

            <div class="buttons">
                <a class="white-text" href=""><i class="fas fa-chevron-circle-right fa-2x"></i></a>
                <a class="white-text" href=""><i class="fas fa-chevron-circle-left fa-2x"></i></a>    
            </div> 
        
  
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4">
      <div class="row">
          <div class="col-12"><h3>Top Rated Projects</h3></div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="/static/img/bl.jpg">
                    </div>
                    <div class="name">John Doe</div>
                    <div class="date">Monday at 3:47 PM</div>
                </div>
                <div class="card-content p-2">
                    What a nice photo i took yesterday!
                </div>
                <div class="card-content">
                    <a href="/singlePost">
                        <img src="/static/img/blea.jpg" style="width: 100%">
                    </a>
                   
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-thumbs-up mif-2x"></button>
                    <button class="flat-button mif-tag mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
            </div>
          </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="avatar">
                    <img src="/static/img/nar.jpg">
                </div>
                <div class="name">John Doe</div>
                <div class="date">Monday at 3:47 PM</div>
            </div>
            <div class="card-content p-2">
                What a nice photo i took yesterday!
            </div>
            <div class="card-content">
                <img src="/static/img/muge.jpg" style="width: 100%">
            </div>
            <div class="card-content fg-gray p-2">
                <span><small>Likes: </small>112</span>
                <span><small>Comments: </small>43</span>
            </div>
            <div class="card-footer">
                <button class="flat-button mif-thumbs-up mif-2x"></button>
                <button class="flat-button mif-tag mif-2x"></button>
                <button class="flat-button mif-share mif-2x"></button>
            </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="avatar">
                    <img src="/static/img/astra.png">
                </div>
                <div class="name">John Doe</div>
                <div class="date">Monday at 3:47 PM</div>
            </div>
            <div class="card-content p-2">
                What a nice photo i took yesterday!
            </div>
            <div class="card-content">
                <img src="/static/img/one.jpg" style="width: 100%">
            </div>
            <div class="card-content fg-gray p-2">
                <span><small>Likes: </small>112</span>
                <span><small>Comments: </small>43</span>
            </div>
            <div class="card-footer">
                <button class="flat-button mif-thumbs-up mif-2x"></button>
                <button class="flat-button mif-tag mif-2x"></button>
                <button class="flat-button mif-share mif-2x"></button>
            </div>
        </div>
      </div>

  </div>

  <div class="row">
    <div class="col-12"><h3>Latest Projects</h3></div>
</div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
      <div class="card">
          <div class="card-header">
              <div class="avatar">
                  <img src="/static/img/sai.jpg">
              </div>
              <div class="name">John Doe</div>
              <div class="date">Monday at 3:47 PM</div>
          </div>
          <div class="card-content p-2">
              What a nice photo i took yesterday!
          </div>
          <div class="card-content">
              <img src="/static/img/stoned.jpg" style="width: 100%">
          </div>
          <div class="card-content fg-gray p-2">
              <span><small>Likes: </small>112</span>
              <span><small>Comments: </small>43</span>
          </div>
          <div class="card-footer">
              <button class="flat-button mif-thumbs-up mif-2x"></button>
              <button class="flat-button mif-tag mif-2x"></button>
              <button class="flat-button mif-share mif-2x"></button>
          </div>
      </div>
    </div>
<div class="col-md-4 col-sm-4 col-lg-4">
  <div class="card">
      <div class="card-header">
          <div class="avatar">
              <img src="/static/img/narsha.jpg">
          </div>
          <div class="name">John Doe</div>
          <div class="date">Monday at 3:47 PM</div>
      </div>
      <div class="card-content p-2">
          What a nice photo i took yesterday!
      </div>
      <div class="card-content">
          <img src="/static/img/ich.jpg" style="width: 100%">
      </div>
      <div class="card-content fg-gray p-2">
          <span><small>Likes: </small>112</span>
          <span><small>Comments: </small>43</span>
      </div>
      <div class="card-footer">
          <button class="flat-button mif-thumbs-up mif-2x"></button>
          <button class="flat-button mif-tag mif-2x"></button>
          <button class="flat-button mif-share mif-2x"></button>
      </div>
  </div>
</div>

<div class="col-md-4 col-sm-4 col-lg-4">
  <div class="card">
      <div class="card-header">
          <div class="avatar">
              <img src="/static/img/bl.jpg">
          </div>
          <div class="name">John Doe</div>
          <div class="date">Monday at 3:47 PM</div>
      </div>
      <div class="card-content p-2">
          What a nice photo i took yesterday!
      </div>
      <div class="card-content">
          <img src="/static/img/sana.jpg" style="width: 100%">
      </div>
      <div class="card-content fg-gray p-2">
          <span><small>Likes: </small>112</span>
          <span><small>Comments: </small>43</span>
      </div>
      <div class="card-footer">
          <button class="flat-button mif-thumbs-up mif-2x"></button>
          <button class="flat-button mif-tag mif-2x"></button>
          <button class="flat-button mif-share mif-2x"></button>
      </div>
  </div>
</div>

</div>

<div class="row">
    <div class="col-12"><h3>Best UI Designs</h3></div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
      <div class="card">
          <div class="card-header">
              <div class="avatar">
                  <img src="/static/img/sak.jpg">
              </div>
              <div class="name">John Doe</div>
              <div class="date">Monday at 3:47 PM</div>
          </div>
          <div class="card-content p-2">
              What a nice photo i took yesterday!
          </div>
          <div class="card-content">
              <img src="/static/img/blea.jpg" style="width: 100%">
          </div>
          <div class="card-content fg-gray p-2">
              <span><small>Likes: </small>112</span>
              <span><small>Comments: </small>43</span>
          </div>
          <div class="card-footer">
              <button class="flat-button mif-thumbs-up mif-2x"></button>
              <button class="flat-button mif-tag mif-2x"></button>
              <button class="flat-button mif-share mif-2x"></button>
          </div>
      </div>
    </div>
<div class="col-md-4 col-sm-4 col-lg-4">
  <div class="card">
      <div class="card-header">
          <div class="avatar">
              <img src="/static/img/bl.jpg">
          </div>
          <div class="name">John Doe</div>
          <div class="date">Monday at 3:47 PM</div>
      </div>
      <div class="card-content p-2">
          What a nice photo i took yesterday!
      </div>
      <div class="card-content">
          <img src="/static/img/ichi.jpg" style="width: 100%">
      </div>
      <div class="card-content fg-gray p-2">
          <span><small>Likes: </small>112</span>
          <span><small>Comments: </small>43</span>
      </div>
      <div class="card-footer">
          <button class="flat-button mif-thumbs-up mif-2x"></button>
          <button class="flat-button mif-tag mif-2x"></button>
          <button class="flat-button mif-share mif-2x"></button>
      </div>
  </div>
</div>

<div class="col-md-4 col-sm-4 col-lg-4">
  <div class="card">
      <div class="card-header">
          <div class="avatar">
              <img src="/static/img/muge.jpg">
          </div>
          <div class="name">John Doe</div>
          <div class="date">Monday at 3:47 PM</div>
      </div>
      <div class="card-content p-2">
          What a nice photo i took yesterday!
      </div>
      <div class="card-content">
          <img src="/static/img/nar.jpg" style="width: 100%">
      </div>
      <div class="card-content fg-gray p-2">
          <span><small>Likes: </small>112</span>
          <span><small>Comments: </small>43</span>
      </div>
      <div class="card-footer">
          <button class="flat-button mif-thumbs-up mif-2x"></button>
          <button class="flat-button mif-tag mif-2x"></button>
          <button class="flat-button mif-share mif-2x"></button>
      </div>
  </div>
</div>

</div>
</div>
<br>
<!-- Footer -->
<footer class="page-footer font-small aqua-gradient pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <!-- Form -->
          <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
          <!-- Form -->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-dark my-0" type="button">Subscribe</button>
            </div>
          </form>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-dark py-3">© 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <!-- Jumbotron -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/jquery.easypiechart.js"></script>
  <script>
    $(function() {
        $('.chart').easyPieChart({
            //your options goes here
        });
    });
</script>
    
{% endblock %}
    