.btn{
    border-radius: 20px;
    color: #111;
}

.card .card-body .message {
    padding-left: 80px;
    
    &::after {
      clear: both;
    }
  }
  
  .card .card-body .actions {
    margin-top: 5px;
  }

  .card img{
      width: 70px;
      height: 75px;
  }

 #donut_val{
     width: 10px;
 }

 #skills{
     display: none;
 }